.widget {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.color {
}
.change-color {
    font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
border: none;
    border-radius: 8px;
padding: 8px 16px;
width: 148px;
height: 40px;
background-color: #4E75FF;
margin: 0 auto ;

}
.p {
    font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
margin-bottom: 16px;

}